<%= form_for @event do |f|%>

	<%= f.label :title %>
	<%= f.text_field :title, class: 'form-control'%>

	<%= f.label :note %>
	<%= f.text_area :note, class: 'form-control'%>

    <%= f.label :date %>
    <div class='input-group' id='datetimepicker'>
      <%= f.text_field :date, class: 'form-control'%>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>

    <%= f.hidden_field :contact_id %>

	
	<%= f.submit%>
	

<%end%>

