<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: "form-control", placeholder: "John"%>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control", placeholder: "Smith"%>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company, class: 'form-control', placeholder: 'Awesome Company'%>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: 'form-control', placeholder: '555.555.5555' %>
  </div>
  <div class='field'>
	<%= f.label :email%>
	<%= f.text_field :email, class: 'form-control', placeholder: 'johnsmith@email.com'%>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-control', placeholder: 'Address'%>
  </div>
  <div class="field">
	<%= f.label :next_contact_date %><br>
	<%= f.text_field :next_contact, class: 'form-control', placeholder: 'Next contact date'%>
  </div>
	
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note , class: 'form-control', placeholder: 'Important Info'%>
  </div>
  <div class="actions">
    <%= f.submit 'Create', type: 'submit', class: 'btn btn-default'%>
  </div>
<% end %>
