<div class='col-md-12'>
  <div class='jumbotron'>
      <h1> Contact <h1>
  </div>
<div>

<div class='col-md-4'>
  <div class='contact'>
    <p>
      <strong>First name:</strong>
      <%= @contact.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @contact.last_name %>
    </p>

    <p>
      <strong>Company:</strong>
      <%= @contact.company %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @contact.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @contact.email %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @contact.address %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @contact.note %>
    </p>

    <p>
      <%= link_to 'Edit', edit_contact_path(@contact) %> |
      <%= link_to 'Back', contacts_path %>
    </p>
  </div>
</div>

<div class='col-md-4'>
  <h3>Events</h3>
  <% @events.each do |event| %>
    <div class='well'>
      <h4><%= event.title %></h4>
      <%= event.note %>
      <%= event.date %>
      <%= event.time %>
    </div>
  <% end %>
</div>

<div class='col-md-4'>
  <h3>Create Event</h3>
  <%= render partial: 'events/form' %>
</div>
